/* PP Object Sans font-face rules */

@font-face {
    font-family: 'ObjectSans';
    src: url(fonts/ppobjectsans-regular.woff);

}

@font-face {
    font-family: 'ObjectSans';
    src: url(fonts/ppobjectsans-slanted.woff);
    font-style: italic;
}

@font-face {
    font-family: 'ObjectSans';
    src: url(fonts/ppobjectsans-bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: 'ObjectSans';
    src: url(fonts/ppobjectsans-boldslanted.woff);
    font-weight: bold;
    font-style: italic;
}

/* PP Editorial New font-face rules */

@font-face {
    font-family: 'EditorialNew';
    src: url(fonts/ppeditorialnew-regular.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(fonts/ppeditorialnew-italic.woff);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(fonts/ppeditorialnew-ultralight.woff);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(fonts/ppeditorialnew-ultralightitalic.woff);
    font-style: italic;
    font-weight: 200;
}

/* Styling starts here */

* {
    box-sizing: border-box;
}

body {
    background-color: #FCF7F7;
    color: #110F10;
    font-family: 'ObjectSans';

    cursor: url('images/cursor-black.png'), auto;
}

header {
    /* max-width: ; */
    margin-top: 80px;
}

nav ul a {
    font-family: 'EditorialNew';
    font-size: 1.1em;
    letter-spacing: 0.03em;
}

main {
    max-width: 100%;
    margin: 0 auto;
}

section {
    padding: 100px 0 30px 0;
}

h1 {
    margin: 0 10px 0 10px;
}

/* h2 {
    margin: 0 0 0 10px;
    padding: 0;
    font-size: 1.3em;
} */

h2 {
    margin: 10px;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: -0.01em;
}

h3 {
    margin: 0;
    font-size: 1.3em;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#200604;
    font-size: 1.1em;
}

a[href^="mailto:"] {
    font-size: 1em;
}

p {
    margin: 10px 0;
    font-size: 1.1em;
}

img {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* Footer styling */

footer {
    margin: 0;
    padding: 50px 10px 10px 10px;

    background-color: #9C95B0;
}

footer h3 {
    font-size: 1em;
}


/* Classes styling */

.container {
    /* display: none; */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0 10px;

    background: inherit!important;
    background-color: rgba(252, 247, 247, 0.2)!important;
    backdrop-filter: blur(10px)!important;
    -webkit-backdrop-filter: blur(10px)!important;
    border-bottom: 1px solid #110F10;
}

.container .navbar {
    justify-content: space-between;
}

.container .navbar ul li {
    /* padding: 10px; */
    margin: 0 0 0 15px;
}


.container .navbar ul li img{
    margin-right: 1px;
}

.navbar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}

.navbar ul {
    display: flex;
}


.info {
    display: none;
    margin: 10px 10px 20px 10px;
}

.info p {
    margin: 7px 0 0 0;
    font-family: 'EditorialNew';
    font-weight: 400;
    letter-spacing: 0.05em;
}

.social {
    padding: 10px 25px 10px 25px;
    border: 1px solid #110F10;
    border-radius: 25px;

    font-family: 'EditorialNew';
    font-weight: 400;
}

.underlined {
    text-decoration: underline;
}

/* Id styling */

#logo {
   height: 30px;
}

#logo-footer {
    max-width: 250px;
    margin-top: 30px;
}

#header-list {
    margin: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10PX;
}

#header-list p {
    text-align: center;

    font-family: 'EditorialNew';
    font-style: italic;
    font-weight: 200;
    font-size: 1.3em;
}

#header-list p:first-child {
    text-align: start;
}

#header-list p:last-child {
    text-align: end;
}

#grid {
    margin-bottom: 20px;
}

#grid img {
    width: 100%;
    margin-bottom: 10px;
}


#about { 
    display: block;
    margin: 10px;
    padding: 15px 0;
    border: 1px solid;
    border-radius: 25px;
    text-align: center;
    font-family: 'EditorialNew';

}

#footer-social {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
}

 /* Animation and interaction */

 li:hover {
    cursor: url('images/cursor-red.png'), auto;
    /* color: #B33031; */
    color: #57506c;
}

a:hover {
    cursor: url('images/cursor-red.png'), auto;
}

a:hover {
    color: #7C7397;
}

#about:hover {
    color: #FCF7F7;
    background-color: #110F10;
}

.social:hover {
    color: #FCF7F7;
    background-color: #110F10;
}

#footer-about a:hover {
    color: #FCF7F7;
}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 2.2em;
        letter-spacing: -0.02em;
    }

    p {
        font-size: 1.1em;
    }

    a {
        font-size: 1.1em;
    }

    a[href^="mailto:"] {
        font-size: 1em;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

    .info {
        margin: 15px 15px 0 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .info h3 {
        grid-column: 1/ span 3;
    }

    .year {
        grid-column: 4;
        justify-self: end;
    }

    .category {
        grid-column: 1/ span4;
    }
    
    #grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 20px;
    }

    #logo-footer {
        margin: 0;

        grid-column: 1 / 1;
        grid-row: 2/2;
        align-self: end;
    }

    #footer-social {
        margin-bottom: 0;
        display: block;

    }

    #footer-social a {
        height: 40px;
        width: 130px;
        
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    #footer-about {
        /* max-width: 400px; */
        /* padding-bottom: 30px; */
        grid-column: 2 / span 2;
        grid-row: 1/ span 2;
    }

}


@media only screen and (min-width: 1000px) {
    main {
        max-width: 100%;
       
    }

    h2 {
        font-size: 2.8em;
        letter-spacing: -0.03em;
    }


    footer {
        padding: 50px 15px 20px 15px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }


    /* Classes styling */
    .container {
        height: 80px;
    }

    .info {
        margin: 15px 15px 0 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .info h3 {
        grid-column: 1/ span 3;
    }

    .year {
        grid-column: 4;
        justify-self: end;
    }

    .category {
        grid-column: 1/ span4;
    }


    /* Id styling */

    #logo {
        height: 50px;
    }

    #hero {
        max-width: 100%;
        height: auto;
    

        padding-top: 250px;
        overflow: hidden;
    }

    #hero img{
        width: 100%;
    }
    
    #header-list {
        margin-bottom: 150px;
        /* max-width: 100%; */

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10PX;
    }

    #header-list p {
        margin: 0;
        padding: 0 1px;

        font-weight: 200;
        font-size: 1.6em;
    }
    
    
    #grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 20px;
    }

    #grid li img{
        width: 100%;
    }

    #about {
        max-width: 60%;
        margin: 30px auto 30px auto;
        padding: 20px 0;
        font-size: 1.5em;
        border-radius: 50px;
    }
    
    #logo-footer {
        /* height: 130px; */
       max-width: 350px;

        grid-column: 1 / span 2;
    }

    #footer-social {
        /* display: flex; */
        /* justify-content: start; */
        gap: 10px;

        grid-column: 1 / span 2;
        grid-row: 1/1;
    }

    #footer-social a {
        height: 40px;
        align-self: end;
    }

    #footer-about {
        /* padding-bottom: 30px; */
        grid-column: 3 / 3;
        grid-row: 1/ span 2;
    }

}