/*//////////////////   PP Right Grotesk font-face rules   //////////////////*/

@font-face {
    font-family: 'RightGroteskDark';
    src: url(fonts/PPRightGrotesk-CompactDark.woff);
}

@font-face {
    font-family: 'RightGroteskMedium';
    src: url(fonts/PPRightGroteskText-CompactMedium.woff);
}

/*//////////////////  PP Editorial New font-face rules   //////////////////*/

@font-face {
    font-family: 'EditorialNew';
    src: url(fonts/ppeditorialnew-regular.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(fonts/ppeditorialnew-italic.woff);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(fonts/ppeditorialnew-ultralight.woff);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(fonts/ppeditorialnew-ultralightitalic.woff);
    font-style: italic;
    font-weight: 200;
}


/*////////////////////////////// CSS STYLES //////////////////////////////////*/

/*//////////////////// MOBILE (max-width: 768px) start //////////////////////*/

/*////////////////////// MUST COPY start ///////////////////////*/
* {
    box-sizing: border-box;
}

body {
    background-color: #FCF7F7;
    color: #101010;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}


p {
    max-width: 33em;
    font-size: 1.125em;
    line-height: 1.3em;
}


a {
    
    text-decoration: none;
    color: #101010;
    font-size: 1.125em;
}

a[href^="mailto:"] {
    font-size: 1em;
}

h1 {
    margin: 0;
    font-size: 3em;
}


/*////////////////////// MUST COPY end ///////////////////////*/


/*////////////////////// NAVIGATION start ///////////////////////*/

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 20px 20px 10px 20px;

    background: inherit!important;
    background-color: rgba(252, 247, 247, 0.2)!important;
    backdrop-filter: blur(10px)!important;
    -webkit-backdrop-filter: blur(10px)!important;
    border-bottom: 1px solid #110F10;

    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    vertical-align: top;
    height: 60px;
    margin: 0;
}

.navbar > ul {
    display: flex;
    align-items: flex-end;
}

.navbar > ul > li > a {
    text-decoration: none;
    color: #101010;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;

    font-family: 'RightGroteskMedium';
    font-size: 1.25em;
    text-transform: uppercase;
}

/*////////////////////// NAVIGATION end ///////////////////////*/




/*/////////////// HEADER, MAIN, SECTIONS start ////////////////*/

header {
    margin-top: 150px;
}


main {
    max-width: 100%;
    margin: 0 auto;
}

section {
    padding: 100px 0;
}

/*/////////////// HEADER, MAIN, SECTIONS end ////////////////*/




/*/////////////////////// TEXT start ////////////////////////*/

/*//////// HEADINGS, PARAGRAPH ///////*/
h1 {
    margin: 0;
}

h1 > #kim-mobile {
    display: block;
}



h1 > #kim-desktop {
    display: none;
}


h2 {
    margin: 10px 20px;

    font-family: 'EditorialNew';
    font-size: 2.3em;
    font-weight: 200;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin: 0;
    font-size: 1em;
}

h4 {
    margin: 0;

    font-family: 'EditorialNew';
    font-weight: 200;
    font-size: 1.8em;
    line-height: 0.5em;
    text-align: center;
}

/* p {
    margin: 10px 0;
    font-size: 1.1em;
    line-height: 1.3em;
} */

#header-list > p {
    margin-top: 10px;

    font-family: 'EditorialNew';
    font-weight: 200;
    font-size: 1.5em;
    line-height: 90%;
}




/*//////////////  LIST ////////////////*/

#grid > li {
    margin-bottom: 40px;
}


/*/////////////////////// TEXT end ////////////////////////*/





/*/////////////////////// IMAGES start ////////////////////////*/
h1 > img {
    margin: 0;
    padding: 0;
    width: 100%;
}
/*/////////////////////// IMAGES end ////////////////////////*/





/*/////////////////////// CLASSES start ////////////////////////*/

/*//////// PROJECTS' INFO ///////*/

.info {
    margin: 0 20px 0 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
}

.info img {
    margin-bottom: 5px;
}

.info > p {
    margin: 0;

    font-size: 0.7777778em;
}

.info > .category {
    grid-column: 1 / span 2;

    text-transform: uppercase;
}

.info > .year {
    text-align: end;
}

/*///////////// OTHERS ///////////*/


/*/////////////////////// CLASSES end ////////////////////////*/





/*///////////////////////// ID start //////////////////////////*/

#hero {
    margin: 0 20px;
}

#grid img {
    width: 100%;
    margin-bottom: 10px;
}


/*///////////////////////// ID end //////////////////////////*/

/*///////////////////////// BUTTON start //////////////////////////*/


#about {
    display: block;
    margin: 50px 20px;
    padding: 30px 0;

    background-color: #101010;
    border-radius: 16px;

    color: #FCF7F7;
    font-size: 1.25em;
    text-align: center;
    font-family: 'RightGroteskMedium';
    text-transform: uppercase;
}


/*///////////////////////// BUTTON end //////////////////////////*/

/*/////////////////////// THANK YOU start ////////////////////////*/
#thankyou-box {
    margin: 100px 0 0 0;
}

#thankyou {
    margin: 0;

    font-family: 'EditorialNew';
    font-weight: 200;
    font-size: 8vw;
    line-height: 4.4vw;
    text-align: center;
}

/*/////////////////////// THANK YOU end ////////////////////////*/

/*/////////////////////// FOOTER start ////////////////////////*/

footer {
    margin: 0;
    padding: 50px 20px 20px 20px;

    background-color: #BAB0D6;
}



footer h6 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin: 0 0 20px 0;
    font-size: 1.125em;
}

footer a {
    display: inline;
    text-decoration: underline 1px solid #101010 !important;
    text-underline-offset: 0.2em;
    

    line-height: 1.1em;
}


#logo-footer {
    height: 100px;
}

#footer-social {
    display: flex;
    flex-direction: column;
    margin: 30px 0 50px 0;
    /* display: flex; */
    /* justify-content: space-between; */
    /* gap: 10px; */
}

#footer-social > p {
    margin-bottom: 50px;

}

#footer-social > a {
    margin-bottom: 20px;
    
}

#footer-about > p {
    max-width: 33em;
    margin-bottom: 20px;

}

#copyright {
    margin: 50px 0 0 0;
    font-size: 0.875em;
}

/* .underlined {
    text-decoration: underline 1px solid #101010 !important;
    text-underline-offset: 0.2em;
} */

/*/////////////////////// FOOTER end ////////////////////////*/


/*///////////////////// ERROR PAGE start //////////////////////*/

#comingsoon {
    width: 80%;
    margin: auto;
    text-align: center;
}

#comingsoon h1 {
    font-family: 'RightGroteskDark';
    font-size: 3em;
    /* letter-spacing: 0.05em; */
}

#comingsoon a {
    width: 200px;
    display: block;
    margin: 30px auto;
    padding: 20px 0;
    border-radius: 16px;

    background-color: #101010;
    color: #FCF7F7;

    font-family: 'RightGroteskMedium';
    text-align: center;
    text-transform: uppercase;
}

/*///////////////////// ERROR PAGE end //////////////////////*/


/*//////////////////// MOBILE (max-width: 768px) end //////////////////////*/









/*/////////////// MOBILE HORIZONTAL(min-width: 768px) start /////////////////*/

@media only screen and (min-width: 768px) {

    /*/////////////////////// TEXT start ////////////////////////*/

    h1 > #kim-mobile {
        display: none;
    }
    
    h1 > #kim-desktop {
        display: block;
    }

    h2 {
        font-size: 2.2em;
        letter-spacing: -0.02em;
    }


    h4 {
        font-size: 3.5em;
        line-height: 0.55em;
    }


    #grid > li {
        margin-bottom: 0;
    }

   

    /* a[href^="mailto:"] {
        font-size: 1em;
    } */

    /*/////////////////////// TEXT start ////////////////////////*/




    /*/////////////////////// FOOTER start ////////////////////////*/
    footer {
        padding: 100px 20px 50px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    #logo-footer {
        margin: 0;

    }

    #footer-about {
        /* padding-bottom: 30px; */
        grid-column: 2 / span 2;
        grid-row: 1/ span 2;
    }

    #copyright {
        margin: auto 0 0 0;
    }
    /*//////////////////////// FOOTER end /////////////////////////*/




    /*/////////////////////// CLASSES start ////////////////////////*/

    /*//////// PROJECTS' INFO ///////*/

    .info {
        margin: 0 20px 0 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 5px;
    }

    .info img {
        margin: 0;
    }

    .info h3 {
        font-size: 2.2vw;
        grid-column: 1/ span 3;
    }

    .info p {
        font-size: 1.3vw;
    }

    .info > .category {
        grid-column: 1/ span 4;
    }

    /*/////////////////////// CLASSES end ////////////////////////*/




    /*///////////////////////// ID start //////////////////////////*/
    #header-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #header-list > p:last-child {
        text-align: end;
    }

    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 20px;
    }



    /*///////////////////////// ID end //////////////////////////*/

    /*///////////////////////// BUTTON start //////////////////////////*/

    #about {
        max-width: 60%;
        margin: 50px auto 30px auto;
        border-radius: 16px;
    }


    /*///////////////////////// BUTTON end //////////////////////////*/



    /*////////////// ANIMATION & INTERACTION start ///////////////*/

    #grid li:hover .info {
        color: #B33031;
        font-style: italic;
    }


    .navbar > ul > li > a:hover {
        color: #B33031;
        font-style: italic;
    }

    
    .navbar > ul > li > a:focus {
        color: #B33031;
        font-style: italic;
    }


    #about:hover {
        background-color: #BAB0D6;
        color: #101010;
    }

    #comingsoon a:hover {
        background-color: #BAB0D6;
        color: #101010;
    }

    #footer-social a:hover {
        color: #FCF7F7;
        font-style: italic;

        /* text-decoration: underline 1px solid #FCF7F7; */
    }

    footer a:hover {
        color: #FCF7F7;
        font-style: italic;

    }

    .underlined:hover {
        text-decoration: underline 1px solid #FCF7F7 !important;
    }


    /*////////////// ANIMATION & INTERACTION end ///////////////*/  
    
}

/*/////////////// MOBILE HORIZONTAL(min-width: 768px) end /////////////////*/






/*////////////////// DESKTOP (min-width: 1200px) start ////////////////////*/

@media only screen and (min-width: 1200px) {

    /*/////////////////// NAVIGATION start ////////////////////*/

    .logo {
        height: 80px;
    }

    

    /*/////////////////// NAVIGATION end ////////////////////*/


    
    /*//////////// HEADER, MAIN, SECTIONS start /////////////*/
    header {
        margin-top: 200px;
    }
    

    main {
        max-width: 100%;

    }

    section {
        padding: 150px 0 100px 0;
    }

    /*///////////// HEADER, MAIN, SECTIONS end //////////////*/





    /*//////////////////// TEXT start //////////////////////*/

    h2 {
        font-size: 4em;
    }
    

    h4 {
        width: 100%;
        padding: 0 20px;
        font-size: 8vw;
    }

    p {
        font-size: 1.25em;
    }

    a {
        font-size: 1.25em;
    }


    /*/////////////////////// TEXT end ////////////////////////*/





    /*/////////////////// GRID start ////////////////////*/
    .info {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
        row-gap: 5px;
    }

    .info h3 {
        width: 100%;
        grid-column: 1/ span 7;
        /* grid-row: 1/ span 2; */
        font-size: 2.1vw;
        /* font-size: 1.7em; */
    }

    .info > p {
        font-size: 0.8em;
    }

    .info > .year {
        grid-column: 8;
        grid-row: 1/ 1;
        
    }

    .info > .category {
        grid-column: 1/ span 8;
        grid-row: 2/ 2;
        
        max-width: 100%;
    }

    /*//////////////////// GRID end /////////////////////*/




      /*/////////////////// FOOTER start \\\\\\\\\\\\\\\\\\\\\\*/

    
      footer {
        padding: 150px 20px 50px 20px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 10px;
    
    }
    
    footer h3 {
        margin-bottom: 10px;
        font-size: 1.3em;
    }

    footer p {
        margin: 0;
    }

    #logo-footer {
        height: 100%;
        margin: auto auto 0 auto;
        max-height: 450px;

        grid-column: 1 / 1;
        grid-row: 1/ span 8;
    }

    #footer-social {
        margin: 0;
        grid-column: 2 / 2;
        grid-row: 1/ span 7;
        
    }

    #footer-social a {

        text-decoration: underline 1px solid #101010;
    }

    #footer-about {
        /* padding-bottom: 30px; */
        grid-column: 3 / 3;
        grid-row: 1/ span 7;
    }

    #back-to-top {
        grid-column: 2 / 2;
        grid-row: 8 / 8;
        align-self: end;

        text-decoration: underline 1px solid #101010;
    }

    #copyright {
        grid-column: 3 / 3;
        grid-row: 8 / 8;
        align-self: end;
        font-size: 1em;
    }

    .underlined {
        text-decoration: none;
    }

    /*\\\\\\\\\\\\\\\\\ FOOTER end ////////////////////*/




    /*/////////////////// BUTTON start \\\\\\\\\\\\\\\\\*/


    #about {
        max-width: 50%;
        margin: 100px auto 100px auto;
        padding: 30px 0;
        font-size: 2em;
        border-radius: 16px;
    }


    /*\\\\\\\\\\\\\\\\\ BUTTON end ////////////////////*/




    /*/////////////////// ID start ////////////////////*/

    /* #hero {
        padding: 100px 0;
    } */

    #header-list p {
        font-size: 2.5em;
    }

    /*/////////////////// ID end ////////////////////*/




    
}

/*////////////////// DESKTOP (min-width: 1200px) end ////////////////////*/


