/* PP Object Sans font-face rules */

@font-face {
    font-family: 'ObjectSans';
    src: url(fonts/ppobjectsans-regular.woff);

}

@font-face {
    font-family: 'ObjectSans';
    src: url(fonts/ppobjectsans-slanted.woff);
    font-style: italic;
}

@font-face {
    font-family: 'ObjectSans';
    src: url(fonts/ppobjectsans-bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: 'ObjectSans';
    src: url(fonts/ppobjectsans-boldslanted.woff);
    font-weight: bold;
    font-style: italic;
}

/* PP Editorial New font-face rules */

@font-face {
    font-family: 'EditorialNew';
    src: url(fonts/ppeditorialnew-regular.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(fonts/ppeditorialnew-italic.woff);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(fonts/ppeditorialnew-ultralight.woff);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(fonts/ppeditorialnew-ultralightitalic.woff);
    font-style: italic;
    font-weight: 200;
}

/* Styling starts here */

* {
    box-sizing: border-box;
}

body {
    background-color: #FCF7F7;
    color: #110F10;
    font-family: 'ObjectSans';
    font-size: 1em;

}

header {
    margin: 5px 0;
}


section {
    padding: 30px 0 30px 0;
}

/* nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
} */

h1 {
    margin: 10px 0 0 10px;
    font-size: 2.1em;
}

h2 {
    margin: 0 0 0 10px;
    padding: 0;
    font-size: 1.3em;
}

main h2 {
    margin: 10px;
    font-size: 2.1em;
}

h3 {
    margin: 0;
    font-size: 1.3em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color:#200604;
}

a:focus, a:hover {
    color: #57506C;
}

p {
    margin: 10px 0;
}

img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

/* Footer styling */

footer {
    margin: 0;
    padding: 50px 10px 10px 10px;

    background-color: #9C95B0;
}

footer h3 {
    font-size: 18px;
}

footer img {
    margin-top: 50px;
}

/* Classes styling */

.container {
    /* display: none; */
    height: 50px;
    padding: 0 10px;
    border-bottom: 1px solid #110F10;
}

.container .navbar {
    justify-content: space-between;
}

.container .navbar ul li {
    /* padding: 10px; */
    margin: 0 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
}

.navbar ul {
    display: flex;
}


.info {
    display: none;
    margin: 10px 10px 20px 10px;
}

.info p {
    margin: 7px 0;
    font-family: 'EditorialNew';
    font-weight: 400;
    letter-spacing: 0.05em;
}

.social {
    padding: 10px 20px 5px 20px;
    border: 1px solid #110F10;
    border-radius: 25px;

    font-family: 'EditorialNew';
    font-weight: 400;
}

.underlined {
    text-decoration: underline;
}

/* Id styling */

#logo {
   width: 60px;
}

#header-list {
    font-family: 'EditorialNew';
    font-style: italic;
    font-weight: 200;
    font-size: 1.3em;
}

#projects {
    margin-bottom: 20px;
}


#about { 
    margin: 10px;
    padding: 15px 0;
    border: 1px solid;
    border-radius: 25px;
    text-align: center;
    font-family: 'EditorialNew';

}

#social-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}