/*//////////////////   PP Right Grotesk font-face rules   //////////////////*/

@font-face {
    font-family: 'RightGroteskDark';
    src: url(../fonts/PPRightGrotesk-CompactDark.woff);
}

@font-face {
    font-family: 'RightGroteskMedium';
    src: url(../fonts/PPRightGroteskText-CompactMedium.woff);
}


/* PP Object Sans font-face rules */

@font-face {
    font-family: 'ObjectSans';
    src: url(../fonts/ppobjectsans-regular.woff);

}

@font-face {
    font-family: 'ObjectSans';
    src: url(../fonts/ppobjectsans-slanted.woff);
    font-style: italic;
}

@font-face {
    font-family: 'ObjectSans';
    src: url(../fonts/ppobjectsans-bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: 'ObjectSans';
    src: url(../fonts/ppobjectsans-boldslanted.woff);
    font-weight: bold;
    font-style: italic;
}

/* PP Editorial New font-face rules */

@font-face {
    font-family: 'EditorialNew';
    src: url(../fonts/ppeditorialnew-regular.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(../fonts/ppeditorialnew-italic.woff);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(../fonts/ppeditorialnew-ultralight.woff);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(../fonts/ppeditorialnew-ultralightitalic.woff);
    font-style: italic;
    font-weight: 200;
}

/*////////////////////////////// CSS STYLES //////////////////////////////////*/

/*//////////////////// MOBILE (max-width: 768px) start //////////////////////*/

* {
    box-sizing: border-box;
}

body {
    background-color: #FCF7F7;
    color: #101010;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

/*////////////////////// NAVIGATION start ///////////////////////*/

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 20px 20px 10px 20px;

    background: inherit!important;
    background-color: rgba(252, 247, 247, 0.2)!important;
    backdrop-filter: blur(10px)!important;
    -webkit-backdrop-filter: blur(10px)!important;
    border-bottom: 1px solid #110F10;

    display: flex;
    justify-content: space-between
}

.logo {
    display: inline-block;
    vertical-align: top;
    height: 60px;
    margin: 0;
}

.navbar > ul {
    display: flex;
    align-items: flex-end;
}

.navbar > ul > li > a {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;

    font-family: 'RightGroteskMedium';
    font-size: 1.1em;
    text-transform: uppercase;
}

/*////////////////////// NAVIGATION end ///////////////////////*/





header {
    /* max-width: ; */
    margin-top: 150px;
}

main {
    max-width: 100%;
    margin: 0 10px;
}

section {
    /* max-width: 500px; */
    margin: 40px 0 30px 0;
    /* padding: 50px 0 30px 0; */
}

h1 {
    margin: 0 10px 0 10px;

    font-size: 7em;
    text-align: center;
}


h2 {
    margin: 0 10px;

    font-family: 'EditorialNew';
    font-size: 3.5em;
    font-weight: 200;
    font-style: italic;
    letter-spacing: -0.01em;
    text-align: center;
}

h3 {
    margin: 0;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#200604;
    font-size: 1em;
}

a[href^="mailto:"] {
    font-size: 1em;
}

p {
    margin: 10px 0;
    font-size: 1em;
}

img {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* Footer styling */

/* footer {
    margin: 0;
    padding: 50px 10px 10px 10px;

    background-color: #9C95B0;
}

footer h3 {
    font-size: 1em;
} */

/*/////////////////////// FOOTER start ////////////////////////*/

footer {
    margin: 0;
    padding: 50px 20px 20px 20px;

    background-color: #BAB0D6;
}

footer h3 {
    font-size: 1em;
}

footer a {
    display: flex;

    line-height: 1.1em;
    text-decoration: underline 1px;
    text-underline-offset: 0.2em;
}


#logo-footer {
    height: 100px;
}

#footer-social {
    margin: 30px 0 50px 0;
    /* display: flex; */
    /* justify-content: space-between; */
    /* gap: 10px; */
}

#footer-social > p {
    margin-bottom: 20px;

    text-underline-offset: 0.2em;
}

#footer-social > a {
    margin-bottom: 10px;
    text-transform: uppercase;
    
}

#footer-about > p {
    margin-bottom: 20px;

    text-underline-offset: 0.2em;
}

#copyright {
    margin: 50px 0 0 0;
    font-size: 0.8em;
}

/*/////////////////////// FOOTER end ////////////////////////*/


/* Classes styling */

/* .container {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0 10px;

    background: inherit!important;
    background-color: rgba(252, 247, 247, 0.2)!important;
    backdrop-filter: blur(10px)!important;
    -webkit-backdrop-filter: blur(10px)!important;
    border-bottom: 1px solid #110F10;
}

.container .navbar {
    justify-content: space-between;
}

.container .navbar ul li {
    margin: 0 0 0 15px;
}


.container .navbar ul li img{
    margin-right: 1px;
}

.navbar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}

.navbar ul {
    display: flex;
} */




.underlined {
    text-decoration: underline;
}

/* Id styling */

#logo {
   height: 30px;
}



#self {
    display: none;
}

#work { 
    display: block;
    margin: 10px 0 50px 0;
    padding: 15px 0;
    border: 1px solid;
    border-radius: 30px;
    text-align: center;
    font-size: 1.5em;

}




/* Animation and interaction */

li:hover {
    color: #57506c;
}

a:hover {
    color: #7C7397;
}

#work:hover {
    color: #FCF7F7;
    background-color: #110F10;
}

.social:hover {
    color: #FCF7F7;
    background-color: #110F10;
}

#footer-about a:hover {
    color: #FCF7F7;
}

@media only screen and (min-width: 768px) {
    main {
        margin: 40px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    main #self {
        display: block;

        grid-column: 1/ 1;
    }

    main section {
        margin: 0;
        grid-column: 2/ span 3;

        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    main section #contact {
       margin-top: auto;
    }

    main #work {
        margin: 40px 0 50px 0;
        grid-column: 1/ span 3;
    }

    h2 {
        letter-spacing: -0.02em;
    }

    p {
        max-width: 600px;
        font-size: 1em;
    }

    p:first-child {
        margin-top: 0;
    }

    a {
        font-size: 1.1em;
    }

    a[href^="mailto:"] {
        font-size: 1em;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }
    
    #hero {
        /* width: 100%; */
        margin-left: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
    }

    #hero h1 {
        margin: 0;

        grid-column: 1/ 1;
        grid-row: 1/ 1;
        justify-self: end;

        font-size: 4.9em;
    }

    #hero h2 {
        margin: 0;

        grid-column: 2/ span 3;
        grid-row: 2/ 2;
        justify-self: start;

        font-size: 4.9em;
        text-align: start;
    }

    #contact p {
        margin: 0;
    }

    #logo-footer {
        margin: 0;

        grid-column: 1 / 1;
        grid-row: 2/2;
        align-self: end;
    }

    #footer-social {
        margin-bottom: 0;
        display: block;
    }


    #footer-about {
        /* max-width: 400px; */
        grid-column: 2 / span 2;
        grid-row: 1/ span 2;
    }

}


@media only screen and (min-width: 1000px) {
    /* main {
        max-width: 100%;
       
    } */

    section p {
        font-size: 1em;
    }

    /* a {
        font-size: 1.3em;
    } */


    footer {
        padding: 50px 15px 20px 15px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

     /* Classes styling */
     .container {
        height: 80px;
    }

    /* Id styling */

    #logo {
        height: 50px;
    }

    #hero {
        padding: 0;
        margin: 100px 0 0 0;
    }

    #hero img{
        width: 100%;
    }

    #hero h1 {
        font-size: 6.5em;
    }

    #hero h2 {
        font-size: 6.5em;
        letter-spacing: -0.03em;
    }

    main #work {
        width: 60%;
        padding: 20px 0;
        margin: 40px 0 40px 0;

        justify-self: center;

        font-size: 1.5em;
        border-radius: 50px;
    }
    
    #logo-footer {
        max-width: 350px;

        grid-column: 1 / span 2;
    }

    #footer-social {
        gap: 10px;

        grid-column: 1 / span 2;
        grid-row: 1/1;
    }

    #footer-social a {
        height: 40px;
        align-self: end;
    }

    #footer-about {
        grid-column: 3 / 3;
        grid-row: 1/ span 2;
    }
}