/*//////////////////   PP Right Grotesk font-face rules   //////////////////*/

@font-face {
    font-family: 'RightGroteskDark';
    src: url(../fonts/PPRightGrotesk-CompactDark.woff);
}

@font-face {
    font-family: 'RightGroteskMedium';
    src: url(../fonts/PPRightGroteskText-CompactMedium.woff);
}


/* PP Editorial New font-face rules */

@font-face {
    font-family: 'EditorialNew';
    src: url(../fonts/ppeditorialnew-regular.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(../fonts/ppeditorialnew-italic.woff);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(../fonts/ppeditorialnew-ultralight.woff);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(../fonts/ppeditorialnew-ultralightitalic.woff);
    font-style: italic;
    font-weight: 200;
}

/*////////////////////////////// CSS STYLES //////////////////////////////////*/

/*//////////////////// MOBILE (max-width: 768px) start //////////////////////*/

/*////////////////////// MUST COPY start ///////////////////////*/
* {
    box-sizing: border-box;
}

body {
    background-color: #FCF7F7;
    color: #101010;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}


p {
    max-width: 33em;
    font-size: 1.125em;
    line-height: 1.3em;
}


a {
    display: inline;
    text-decoration: none;
    color: #101010;
    font-size: 1.125em;
}

a[href^="mailto:"] {
    font-size: 1em;
}

h1 {
    margin: 0;
    font-size: 3em;
}


/*////////////////////// MUST COPY end ///////////////////////*/





/*////////////////////// NAVIGATION start ///////////////////////*/

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 20px 20px 10px 20px;

    background: inherit!important;
    background-color: rgba(252, 247, 247, 0.2)!important;
    backdrop-filter: blur(10px)!important;
    -webkit-backdrop-filter: blur(10px)!important;
    border-bottom: 1px solid #110F10;

    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    vertical-align: top;
    height: 60px;
    margin: 0;
}

.navbar > ul {
    display: flex;
    align-items: flex-end;
}

.navbar > ul > li > a {
    text-decoration: none;
    color: #101010;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;

    font-family: 'RightGroteskMedium';
    font-size: 1.25em;
    text-transform: uppercase;
}

/*////////////////////// NAVIGATION end ///////////////////////*/




/*/////////////// HEADER, MAIN, SECTIONS start ////////////////*/

header {
    margin-top: 150px;
}

#hero {
    margin: 0 20px;
}

main {
    max-width: 100%;
    margin: 0 20px;
}

section {
    margin: 40px 0 30px 0;
}
/*/////////////// HEADER, MAIN, SECTIONS end ////////////////*/


/*/////////////////////// TEXT start ////////////////////////*/

/*//////// HEADINGS, PARAGRAPH ///////*/
h1 {
    margin: 0;

    font-family: 'RightGroteskMedium';
    font-size: 2.5em;
}

h2 {
    margin: 0;
}

h2 > #kim-mobile {
    display: block;
}


h2 > #kim-desktop {
    display: none;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;

    font-family: 'EditorialNew';
    font-weight: 200;
    font-size: 1.7em;
    line-height: 0.5em;
    text-align: center;
}

h5 {
    margin: 30px 0;

    font-family: 'EditorialNew';
    font-weight: 200;
    font-size: 2.6em;
    line-height: 1em;
}

p {
    margin: 20px 0;
    /* font-size: 1.1em;
    line-height: 1.3em; */
}

/*//////////////  LIST ////////////////*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}




/*/////////////////////// TEXT end ////////////////////////*/




/*/////////////////////// IMAGES start ////////////////////////*/

img {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/*/////////////////////// IMAGES end ////////////////////////*/

/*/////////////////////// THANK YOU start ////////////////////////*/
#thankyou-box {
    margin: 100px 0 0 0;
}

#thankyou {
    margin: 0;

    font-family: 'EditorialNew';
    font-weight: 200;
    font-size: 7.6vw;
    line-height: 4.2vw;
    text-align: center;
}

/*/////////////////////// THANK YOU end ////////////////////////*/

/*/////////////////////// FOOTER start ////////////////////////*/

footer {
    margin: 0;
    padding: 50px 20px 20px 20px;

    background-color: #BAB0D6;
}



footer h6 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin: 0 0 20px 0;
    font-size: 1.125em;
}

footer a {
    
    text-underline-offset: 0.2em;
    line-height: 1.1em;
    text-decoration: underline 1px solid #101010 !important;
}


#logo-footer {
    height: 100px;
}

#footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 0 50px 0;

}

#footer-social > p {
    margin-bottom: 50px;

}

#footer-social > a {
    display: inline;
    margin-bottom: 20px;
    
}

#footer-about > p {
    max-width: 33em;
    margin-bottom: 20px;

}

#copyright {
    margin: 50px 0 0 0;
    font-size: 0.875em;
}

footer > #back-to-top {
    display: inline-block !important; /* Keeps it as inline text */
    margin: 0 auto 0 0; /* Ensures no unwanted margins */
}

/* .underlined {
    text-decoration: underline 1px solid #101010 !important;
    text-underline-offset: 0.2em;
} */

/*/////////////////////// FOOTER end ////////////////////////*/




/*///////////////////////// ID start //////////////////////////*/
#self {
    display: none;
}

#about-links {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

#about-links p {
    margin: 0 0 30px 0;
}

#about-links > a {
    margin-bottom: 10px;
    text-transform: uppercase;
}

#about-links > a:first-child {
    margin: 10px 0 30px 0;
}



/*///////////////////////// ID end //////////////////////////*/

/*///////////////////////// BUTTON start //////////////////////////*/


#work {
    display: block;
    margin: 50px 20px;
    padding: 30px 0;

    background-color: #101010;
    border-radius: 16px;

    color: #FCF7F7;
    font-size: 1.25em;
    text-align: center;
    font-family: 'RightGroteskMedium';
    text-transform: uppercase;
}


/*///////////////////////// BUTTON end //////////////////////////*/




/*/////////////// MOBILE HORIZONTAL(min-width: 768px) start /////////////////*/

@media only screen and (min-width: 768px) {



    /*/////////////////////// TEXT start ////////////////////////*/
    
    h1 {
        font-size: 4.9em;
        letter-spacing: -0.02em;
    }

    h2 > #kim-mobile {
        display: none;
    }
    
    
    h2 > #kim-desktop {
        display: block;
    }



    p:first-child {
        margin-top: 0;
    }

    
    /*/////////////////////// TEXT end ////////////////////////*/



    main {
        margin: 0 20px;

    }

    section {
        margin: 0 0 100px 0;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        /* flex-direction: column;
        align-content: space-between; */
    }
    
    section > #self {
        display: block;

        grid-column: 1/ span 2;
    }

    section > #text {
        grid-column: 3/ span 3;
        
    }


    #about-links {
        margin: 0;
        grid-column: 3/ span 3;
        display: flex;
        flex-direction: column;
    }

    #about-links p {
        margin: 0 0 20px 0;
    }

    #about-links > a:first-child {
        margin: 10px 0 20px 0;
    }

    /*///////////////////////// BUTTON start //////////////////////////*/

    #work {
        max-width: 60%;
        margin: 50px auto 50px auto;
    }


    /*///////////////////////// BUTTON end //////////////////////////*/


    /*/////////////////////// FOOTER start ////////////////////////*/
    footer {
        padding: 100px 20px 50px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

   
    #logo-footer {
        margin: 0;

    }

    #footer-about {
        max-width: 33em;
        /* padding-bottom: 30px; */
        grid-column: 2 / span 2;
        grid-row: 1/ span 2;
    }

    #copyright {
        margin: auto 0 0 0;
    }
    /*//////////////////////// FOOTER end /////////////////////////*/



     /*////////////// ANIMATION & INTERACTION start ///////////////*/

     #grid li:hover .info {
        color: #B33031;
        font-style: italic;
    }


    .navbar > ul > li > a:hover {
        color: #B33031;
        font-style: italic;
    }
/* 
    .navbar > ul > li > a:focus {
        color: #B33031;
        font-style: italic;
    } */


    #work:hover {
        background-color: #BAB0D6;
        color: #101010;
    }

    #comingsoon a:hover {
        background-color: #BAB0D6;
        color: #101010;
    }

    #footer-social a:hover {
        color: #FCF7F7;
        font-style: italic;

        /* text-decoration: underline 1px solid #FCF7F7; */
    }

    footer a:hover {
        color: #FCF7F7;
        font-style: italic;

    }

    .underlined:hover {
        text-decoration: underline 1px solid #FCF7F7 !important;
    }


    /*////////////// ANIMATION & INTERACTION end ///////////////*/  
    

}


/*/////////////// MOBILE HORIZONTAL(min-width: 768px) end /////////////////*/






/*////////////////// DESKTOP (min-width: 1200px) start ////////////////////*/

@media only screen and (min-width: 1200px) {

    /*/////////////////// NAVIGATION start ////////////////////*/

    .logo {
        height: 80px;
    }

    /*/////////////////// NAVIGATION end ////////////////////*/


     /*//////////////////// TEXT start //////////////////////*/

     h2 {
        font-size: 4em;
    }
    

    h4 {
        width: 100%;
        padding: 0 20px;
        font-size: 8vw;
    }

    p {
        font-size: 1.25em;
    }

    a {
        font-size: 1.25em;
    }

    footer h6 {
        font-size: 1.25em;
    }

    /*/////////////////////// TEXT end ////////////////////////*/

    /*//////////// HEADER, MAIN, SECTIONS start \\\\\\\\\\\\\\*/
     header {
        margin-top: 170px;
    }

    /*\\\\\\\\\\\\\ HEADER, MAIN, SECTIONS end //////////////*/


    
    /* Id styling */

    #logo {
        height: 50px;
    }

    

    #hero img{
        width: 100%;
    }

    #hero h1 {
        font-size: 6.5em;
    }

    #hero h2 {
        font-size: 6.5em;
        letter-spacing: -0.03em;
    }





    /*/////////////////// BUTTON start \\\\\\\\\\\\\\\\\*/


    #work {
        max-width: 50%;
        margin: 70px auto 150px auto;
        padding: 30px 0;
        font-size: 2em;
    }


    /*\\\\\\\\\\\\\\\\\ BUTTON end ////////////////////*/

    
    /*/////////////////// FOOTER start \\\\\\\\\\\\\\\\\\\\\\*/

    
      footer {
        padding: 150px 20px 50px 20px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 10px;
    
    }
    
    footer h3 {
        margin-bottom: 10px;
        font-size: 1.3em;
    }

    footer p {
        margin: 0;
    }

    #logo-footer {
        height: 100%;
        margin: auto auto 0 auto;
        max-height: 450px;

        grid-column: 1 / 1;
        grid-row: 1/ span 8;
    }

    #footer-social {
        margin: 0;
        grid-column: 2 / 2;
        grid-row: 1/ span 7;
        
    }

    #footer-social a {

        text-decoration: underline 1px solid #101010;
    }

    #footer-about {
        /* padding-bottom: 30px; */
        grid-column: 3 / 3;
        grid-row: 1/ span 7;
    }

    #back-to-top {
        grid-column: 2 / 2;
        grid-row: 8 / 8;
        align-self: end;

        text-decoration: underline 1px solid #101010;
    }

    #copyright {
        grid-column: 3 / 3;
        grid-row: 8 / 8;
        align-self: end;
        font-size: 1em;
    }

    .underlined {
        text-decoration: none;
    }

    /*\\\\\\\\\\\\\\\\\ FOOTER end ////////////////////*/

}

/*////////////////// DESKTOP (min-width: 1200px) end ////////////////////*/