/* PP Object Sans font-face rules */

@font-face {
    font-family: 'ObjectSans';
    src: url(../../fonts/ppobjectsans-regular.woff);

}

@font-face {
    font-family: 'ObjectSans';
    src: url(../../fonts/ppobjectsans-slanted.woff);
    font-style: italic;
}

@font-face {
    font-family: 'ObjectSans';
    src: url(../../fonts/ppobjectsans-bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: 'ObjectSans';
    src: url(../../fonts/ppobjectsans-boldslanted.woff);
    font-weight: bold;
    font-style: italic;
}

/* PP Editorial New font-face rules */

@font-face {
    font-family: 'EditorialNew';
    src: url(../../fonts/ppeditorialnew-regular.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(../../fonts/ppeditorialnew-italic.woff);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(../../fonts/ppeditorialnew-ultralight.woff);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'EditorialNew';
    src: url(../../fonts/ppeditorialnew-ultralightitalic.woff);
    font-style: italic;
    font-weight: 200;
}

/* Styling starts here */

* {
    box-sizing: border-box;
}

body {
    background-color: #FCF7F7;
    color: #110F10;
    font-family: 'ObjectSans';

}

header {
    /* max-width: ; */
    margin-top: 80px;
}

nav ul a {
    font-family: 'EditorialNew';
    font-size: 1.1em;
    letter-spacing: 0.03em;
}

main {
    max-width: 100%;
    /* margin: 0 10px; */
}

section {
    /* width: 100%; */
    margin: 30px 0 0 0;

    /* padding: 50px 0 30px 0; */
}

h1 {
    margin: 0 10px 10px 10px;

    font-size: 4.5em;
    /* line-height: 1.1em; */
    /* text-align: center; */
}

h2 {
    margin: 1em 0 .5em 0;
    font-family: 'ObjectSans';
    font-size: 1.1em;
    font-weight: bold;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#200604;
    font-size: 1.1em;
}

a[href^="mailto:"] {
    font-size: 1em;
}

p {
    max-width: 600px;
    margin: 0;
    /* padding: 0; */
    font-size: 1.1em;
    line-height: 1.3em;
}


img {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

section img {
    margin-bottom: 10px;
}

#hero img {
    margin-bottom: 10px;
}

/* Footer styling */

footer {
    margin: 0;
    padding: 50px 10px 10px 10px;

    background-color: #9C95B0;
}

footer h3 {
    font-size: 1em;
}

footer p {
    margin: 10px 0;
}


/* Classes styling */

.container {
    /* display: none; */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0 10px;

    background: inherit!important;
    background-color: rgba(252, 247, 247, 0.2)!important;
    backdrop-filter: blur(10px)!important;
    -webkit-backdrop-filter: blur(10px)!important;
    border-bottom: 1px solid #110F10;
}

.container .navbar {
    justify-content: space-between;
}

.container .navbar ul li {
    /* padding: 10px; */
    margin: 0 0 0 15px;
}


.container .navbar ul li img{
    margin-right: 1px;
}

.navbar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}

.navbar ul {
    display: flex;
}


.social {
    padding: 10px 25px 10px 25px;
    border: 1px solid #110F10;
    border-radius: 25px;

    font-family: 'EditorialNew';
    font-weight: 400;
}

.underlined {
    text-decoration: underline;
    margin-bottom: 10px;

}

.text {
    margin: 20px 10px 30px 10px;
    /* text-align: center; */
}

.text h2 {
    font-size: 1.8em;
}

/* .text p {
    margin: 0 auto 10px auto;
} */

.hidden {
    visibility: hidden;
}

/* Id styling */

#logo {
   height: 30px;
}

#intro {
    margin: 20px 10px;
}

#overview h2 {
    font-size: 1.8em;
}

#end {
    margin-bottom: 50px;
    text-align: center;
}

#end p {
    margin: 0 auto 5px auto;
}

#buttons {
    margin: 0 10px 50px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

#buttons a {
    padding: 15px 20px 5px 20px;
    border: 1px solid;
    border-radius: 30px;

    font-family: 'ObjectSans';
    font-weight: bold;
}

#buttons #next{
    text-align: right;
}

#buttons #buttonlabel {
    margin: 0 0 5px 0;
    font-family: 'EditorialNew';
    font-weight: 400;
}

#logo-footer {
    max-width: 250px;
    margin-top: 30px;
}

#self {
    display: none;
}

#footer-social {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

/* Animation and interaction */

li:hover {
    color: #57506c;
}

a:hover {
    color: #7C7397;
}

#previous:hover {
    color: #FCF7F7;
    background-color: #110F10;
}

#next:hover {
    color: #FCF7F7;
    background-color: #110F10;
}

.social:hover {
    color: #FCF7F7;
    background-color: #110F10;
}

#footer-about a:hover {
    color: #FCF7F7;
}

@media only screen and (min-width: 768px) {
    /* main {
        margin: 40px 0;
    
    } */

    /* main #work {
        margin: 40px 0 50px 0;
        grid-column: 1/ span 3;
    } */

    /* h2 {
        letter-spacing: -0.02em;
    } */

    /* p {
        font-size: 1.1em;
    } */

    p:first-child {
        margin-top: 0;
    }

    a {
        font-size: 1.1em;
    }

    a[href^="mailto:"] {
        font-size: 1em;
    }

    h1 {
        margin: 0 10px 10px 10px;

        grid-column: 1/ 1;
        grid-row: 1/ 1;
        justify-self: end;

    }


    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

    footer h3{
        margin-top: 0;
    }

    .text{
        max-width: 600px;
        margin: 40px auto 50px auto;
    }

    #intro {
        max-width: 600px;
        margin: 40px auto 50px auto;
        /* max-width: 600px; */

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }

    #end {
        margin: 50px 10px;
    }

    #overview {
        max-width: 600px;
        grid-column: 1/ span 2;
        grid-row: 1/1;
    }

    #side {
        grid-column: 3/3;
        grid-row: 1/1;
    }

    #buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    #previous {
        grid-column: 1/1;
    }

    #next {
        grid-column: 3/3;
    }


    #logo-footer {
        margin: 0;

        grid-column: 1 / 1;
        grid-row: 2/2;
        align-self: end;
    }

    #footer-social {
        margin-bottom: 0;
        display: block;
    }

    #footer-social a {
        height: 40px;
        width: 130px;
        
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    #footer-about {
        grid-column: 2 / span 2;
        grid-row: 1/ span 2;
    }

}


@media only screen and (min-width: 1000px) {

    h1 {
        font-size: 6em;
    }

    /* section p {
        font-size: 1em;
    } */

    footer {
        padding: 50px 15px 20px 15px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

     /* Classes styling */
     .container {
        height: 80px;
    }

    .text {
        max-width: 800px;
        margin: 60px auto 70px auto;
        
    }
    .text h2 {
        max-width: 600px;
        margin: 10px auto 5px auto;
    }

    .text p {
        margin: 0 auto 10px auto;
    }

    /* Id styling */

    #logo {
        height: 50px;
    }

    #hero {
        padding: 0;
        margin: 100px 0 0 0;
    }

    #hero img{
        width: 100%;
    }

    #intro {
        max-width: 800px;
    }
    
    #logo-footer {
        max-width: 350px;

        grid-column: 1 / span 2;
    }

    #footer-social {
        gap: 10px;

        grid-column: 1 / span 2;
        grid-row: 1/1;
    }

    #footer-social a {
        height: 40px;
        align-self: end;
    }

    #footer-about {
        grid-column: 3 / 3;
        grid-row: 1/ span 2;
    }
}
